<?xml version="1.0"?>
<launch>

    <include file="$(find ur10_robotiq_85)/launch/planning_context.launch">
    </include>
    <include file="$(find ur10_robotiq_85)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="debug" default="true" /> <!-- ergänzt, damit debug aktiviert wird-->
    </include>
    <!-- include RVIZ until simulation is working -->
    <include file="$(find ur10_robotiq_85)/launch/moveit_rviz.launch">
      <arg name="config" value="true"/>
    </include>

</launch>
